@charset "UTF-8";
html, body {
  min-width: 320px;
  font-family: sans-serif,細明體;
  margin: 0;
  padding: 0;
  background-color: #000d1a;
  color: white;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  html a, body a {
    text-decoration: none; }

.img {
  max-width: 100%;
  height: auto; }

.small_font {
  font-size: 12px; }

.word {
  word-break: normal; }

.info-entry {
  position: relative;
  padding: 10px 20px;


  overflow: auto; }

.input-fancy {
  padding: 8px 8px 8px 40px;
  border: 1px solid #aaa;
  font-size: 16px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.input-fancy:focus {
  border: 1px solid dodgerblue; }

.input-icon {
  position: absolute;
  top: 37%;
  padding-left: 7px;
  color: #aaa; }

.btn-fancy {
  margin: 16px 8px;
  padding: 5px 10px;
  font-size: 14px;
  border: 0px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 30px rgba(75, 251, 207, 0.4);
  box-shadow: 0 0 30px rgba(75, 251, 207, 0.4);
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, right top, from(#00ace6), to(#10d5a1));
  background: -webkit-linear-gradient(left, #00ace6, #10d5a1);
  background: -o-linear-gradient(left, #00ace6, #10d5a1);
  background: linear-gradient(to right, #00ace6, #10d5a1);
  color: white;
  cursor: pointer;
}

.btn-fancy:hover {    
	  background: #10d5a1;
}

.btn-fancy:active {
  background: #000d1a;
  border: 1px solid  #38f0bf;
  -webkit-box-shadow: 0 0 30px rgba(75, 251, 207, 0.4);
  box-shadow: 0 0 30px rgba(75, 251, 207, 0.4);
  color: white; }

.h-login {
  margin: 5px; }

.login {
  text-align: center;
  width: 50%;
  margin: 20px;
  border: 1px solid #38f0bf;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 25px rgba(75, 251, 207, 0.4);
  box-shadow: 0 0 25px rgba(75, 251, 207, 0.4); }

.login header {
  text-align: center; }

.btn {
  text-align: center; }

.btn button {
  width: 70px; }

@media screen and (max-width: 590px) {
  .login {
    width: 80%; }

  .input-fancy {
    width: 80%;}
  }
