@charset "UTF-8";
html, body {
  min-width: 320px;
  font-family: sans-serif,細明體;
  margin: 0;
  padding: 0;
  background-color: #222;
  color: white;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  html a, body a {
    text-decoration: none; }

.img {
  max-width: 100%;
  height: auto; }

.small_font {
  font-size: 12px; }

.word {
  word-break: normal; }

.panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: wrap column;
  flex-flow: wrap column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

header {
  margin-top: 10px; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  nav a {
    color: rgba(231, 226, 226, 0.6); }
  nav div {
    border-radius: 15px;
    font-size: 25px;
    margin: 10px;
    padding: 5px 10px;
    min-width: 35%;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid rgba(231, 226, 226, 0.6); }
    nav div:hover {
      border: 1px solid #e7e2e2; }
      nav div:hover a {
        color: #e7e2e2; }

.nav_highlight {
  border: 1px solid #e7e2e2; }
  .nav_highlight a {
    color: #e7e2e2; }

@media screen and (max-width: 590px) {
  nav div {
    margin: 10px 5px;
    width: 29%;
    font-size: 14px; } }
