@charset "UTF-8";
html, body {
  min-width: 320px;
  font-family: sans-serif,細明體;
  margin: 0;
  padding: 0;
  background-color: #222;
  color: white;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  html a, body a {
    text-decoration: none; }

.img {
  max-width: 100%;
  height: auto; }

.small_font {
  font-size: 12px; }

.word {
  word-break: normal; }

.panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: wrap column;
  flex-flow: wrap column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

header {
  margin-top: 10px; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  nav a {
    color: rgba(231, 226, 226, 0.6); }
  nav div {
    border-radius: 15px;
    font-size: 25px;
    margin: 10px;
    padding: 5px 10px;
    width: 180px;
    text-align: center;
    border: 1px solid rgba(231, 226, 226, 0.6); }
    nav div:hover {
      border: 1px solid #e7e2e2; }
      nav div:hover a {
        color: #e7e2e2; }

.rank_panel {
  margin-top: 2%;
  width: 75%;
  color: rgba(255, 255, 255, 0.75);
  /* font-weight: bold; */ }

.opt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 1%;
  border: 2px solid #9f8955;
  border-radius: 12px;
  margin-bottom: 1.5%;
  -webkit-box-shadow: 4px 4px 3px rgba(51, 51, 102, 0.6);
  box-shadow: 4px 4px 3px rgba(51, 51, 102, 0.6); }

.rank {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2; }

.name {
  -webkit-box-flex: 5;
  -ms-flex: 5;
  flex: 5;
  text-align: left; }

.score {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2; }

.opt:nth-child(odd) {
  background-color: rgba(135, 103, 27, 0.9); }

.opt:nth-child(even) {
  background-color: #3d2906; }

.nav_highlight {
  border: 1px solid #e7e2e2; }
  .nav_highlight a {
    color: #e7e2e2; }
