.small_font {
  font-size: 12px; }

.word {
  word-break: normal; }

.rank_panel {
  margin-top: 2%;
  width: 75%;
  color: white;
  font-weight: normal; }

.opt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 1%;
  border-radius: 12px;
  margin-bottom: 1.5%;}
.rank {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2; }

.name {
  -webkit-box-flex: 5;
  -ms-flex: 5;
  flex: 5;
  text-align: left; }

.score {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2; }

.opt:nth-child(odd) {
  background: linear-gradient(to right, #0dbf8f 10%, #0086b3); } 

.opt:nth-child(even) {
  border: 1px solid  #38f0bf;
  -webkit-box-shadow: 0 0 30px rgba(75, 251, 207, 0.4);
  box-shadow: 0 0 30px rgba(75, 251, 207, 0.4);
  background: #000d1a;}

@media screen and (max-width: 590px) {
  .rank_panel {
    width: 85%; }
  .opt {
    margin-bottom: 2%;
    padding: 2%; } }
