@charset "UTF-8";
html, body {
	min-width: 320px;
	font-family: sans-serif,細明體;
margin: 0;
padding: 0;
		 background-color: #222;
color: white;
	   -webkit-box-sizing: border-box;
	   box-sizing: border-box; }
	   html a, body a {
		   text-decoration: none; }

		   .img {
			   max-width: 100%;
height: auto; }

.small_font {
	font-size: 12px; }

	.word {
		word-break: normal; }

		.login {
			text-align: center;
width: 40%;
margin: 20px;
border: 1px solid; }
.login header {
	text-align: center; }

	.entry {
padding: 10px 20px; }

.btn {
	text-align: right; }
	.btn button {
width: 70px; }

input:focus {
		  /* border:0px rgb(241, 147, 22); */
		  background-color: #ccc7ec; }

@media screen and (max-width: 590px) {
			  .login {
width: 80%; } }
